// ----------------------------------------------------------------------------
// Dark Mode
// ----------------------------------------------------------------------------

// Dark Background
$gb-dm-bg0: #282828;
$gb-dm-bg0-hard: #1d2021;
$gb-dm-bg0-soft: #32302f;
$gb-dm-bg1: #3c3836;
$gb-dm-bg2: #504945;
$gb-dm-bg3: #665c54;
$gb-dm-bg4: #7c6f64;

// Dark Foreground
$gb-dm-fg0: #fbf1c7;
$gb-dm-fg1: #ebdbb2;
$gb-dm-fg2: #d5c4a1;
$gb-dm-fg3: #bdae93;
$gb-dm-fg4: #a89984;

// Dark Colors
$gb-dm-dark-red: #cc241d;
$gb-dm-dark-green: #98971a;
$gb-dm-dark-yellow: #d79921;
$gb-dm-dark-blue: #458588;
$gb-dm-dark-purple: #b16286;
$gb-dm-dark-aqua: #689d6a;
$gb-dm-dark-orange: #d65d0e;
$gb-dm-dark-gray: #928374;

$gb-dm-light-red: #fb4934;
$gb-dm-light-green: #b8bb26;
$gb-dm-light-yellow: #fabd2f;
$gb-dm-light-blue: #83a598;
$gb-dm-light-purple: #d3869b;
$gb-dm-light-aqua: #8ec07c;
$gb-dm-light-orange: #f38019;
$gb-dm-light-gray: #a89984;

@import url(https://fonts.googleapis.com/css?family=PT+Sans|Ubuntu:300,400,700);


@font-face {
  font-family: "Fura Code";
  font-weight: 200;
  src: url("fonts/fura_light.otf") format('opentype');
}

@font-face {
  font-family: "Fura Code";
  font-weight: 400;
  src: url("fonts/fura_reg.otf") format('opentype');
}

@font-face {
  font-family: "Fura Code";
  font-weight: 500;
  src: url("fonts/fura_ret.otf") format('opentype');
}

@font-face {
  font-family: "Fura Code";
  font-weight: 600;
  src: url("fonts/fura_med.otf") format('opentype');
}

@font-face {
  font-family: "Fura Code";
  font-weight: 800;
  src: url("fonts/fura_bold.otf") format('opentype');
}

p {
  font-family: "Fura Code", serif;
  font-weight: 200;
  font-variant-ligatures: discretionary-ligatures;
  color: $gb-dm-fg1;
  font-size: 150%;
}

p.thick {
  font-family: "Fura Code", serif;
  font-weight: 800;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container-fluid {
  padding-top: 5%;
  padding-bottom: 5%;
}

#navMenu {
  position: fixed;
  z-index: 99;
  width: 100%;
}

a, a:hover {
  color: black;
  text-decoration: none;
  font-size: 100%;
}

.faceimg {
  width: 100%;
}

.row {
  padding-left: 5%;
  padding-right: 5%;
}

blockquote {
  display: block;
  border-width: .5em 0;
  border-style: solid;
  border-color: $gb-dm-light-blue;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
  color: $gb-dm-fg1;
  font-size: 200%;
}

//blockquote:before {
//  content: '\201C';
//  position: absolute;
//  top: -30%;
//  //left: 50%;
//  transform: translate(50%, 10%);
//  background: $gb-dm-bg0;
//  width: 3rem;
//  height: 2rem;
//  font: 6em/1.08em 'PT Sans', sans-serif;
//  color: $gb-dm-dark-gray;
//  text-align: center;
//}

blockquote:after {
  content: "\2013 \2003" attr(cite);
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: $gb-dm-dark-orange;
}

.navbar {
  background-color: $gb-dm-bg1;
  padding-bottom: 0;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  height: 3em;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 0;
}

.main-nav {
  list-style-type: none;
  display: flex;
  margin-right: 20em;
  flex-direction: row;
  justify-content: flex-start;
  height: 3em;
}

.nav-links,
.logo {
  text-decoration: none;
  color: $gb-dm-fg1;
}

.main-nav li {
  text-align: center;
}

%list-shared {
  font-family: "Fura Code", sans-serif;
  display: block;
  padding: 0 1.5em 0 2em;
  color: $gb-dm-fg1;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  font-size: 2em;
}

ul {
  margin: 0;
}

ul li a.currPage {
  @extend %list-shared;
  background-color: $gb-dm-dark-yellow;
}

ul li a.nav-links {
  @extend %list-shared;
  background-color: $gb-dm-bg2;
}

%header-shared {
  //font-family: "Roboto", sans-serif;
  color: $gb-dm-fg1;
}

h1 {
  @extend %header-shared;
  font-weight: 600;
  font-size: 4vw;
}

h2 {
  @extend %header-shared;
  font-weight: 500;
  font-size: 2vw;
}

h3 {
  @extend %header-shared;
  font-weight: 500;
  font-size: 1.5vw;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.chevron {
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}


