.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

#navMenu {
    position: fixed;
    z-index: 99;
    width: 100%;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

.faceimg {
    width: 100%;
}

.container-fluid {
    padding: 70px 50px;
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}